body{background-color:royalblue;}
#header{padding: 0px;background-color: rgb(109, 102, 199);width: 1500px;height: 1000px; }
h1{text-align: center;margin-right: 10%;}
div{display: inline-block;margin-top: 20px;height: 50px;width: 200px;color: white;padding: 10px;padding-left: 30px;
font-size: large;}
#list{width: 200px;background-color: white; color: midnightblue;height: 20px;}
#num{width: 200px;background-color: white;color: midnightblue;height: 14px;}
#test{width: 100px;background-color:white;color: midnightblue;height: 20px;}
#contenu{ width: 100%;height: 30%; display: block;margin: auto;}
#principe{width: 1000 px;}